@model IEnumerable<ProductResponse>
@{
    Layout = null;
}


<table class="table" id="products-data">
    <thead>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.ProductBrand</td>
                <td>@item.ProductType</td>
                <td>@item.Price</td>
                <td>
                    <a asp-area="Admin" asp-controller="Products" asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-success">
                        Edit
                    </a>
                    <a asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
